<%- include('partials/header'); %>
    <div class="grid  bg-white ">
        <div></div>
        <main class="place-self-center flex m-4 rounded-xl md:w-1/2 ">
            <div class="w-1/2">
                <!--                 <img src="http://covers.openlibrary.org/b/ID/<%= book.cover_id%>-L.jpg" alt="">
 -->
                <img class="min-w-300" src="<%= book.cover_id %> " alt="">
            </div>
            <div class="w-1/2">
                <h2 class="font-lora text-3xl text center p-4">
                    <%= book.title %>
                </h2>
                <h2>Author:
                    <% if (book.authors) { %>
                        <% book.authors.forEach(author => { %>
                            <div>
                                <%= author %>
                            </div>
                            <% }) %>
                                <% } %>

                </h2>
                <p>
                    <%= book.description %>
                </p>
                <a class="my-2 w-auto sm:w-40 text-center font-roboto font-bold rounded-full py-1 px-6 text-black bg-yellow-400" href="/">Search Again!</a>
            </div>

        </main>
        <div></div>
    </div>

    <%- include('partials/footer'); %>