<%- include('partials/header'); %>
    <div class="grid bg-white sm:bg-transparent	">

        <main id="main" class="place-self-center sm:bg-white p-6 flex flex-col md:flex-row m-4 rounded-xl sm:w-2/3 lg:w-3/5 ">
            <div class=" md:w-1/2 ">
                <img class="min-w-300 " src="<%= book.cover_url %> " alt="<%= book.title %> book cover">
            </div>
            <div class="md:w-1/2 md:px-4">
                <h2 class="font-lora text-3xl text center py-4 md:pt-0">
                    <%= book.title %>
                </h2>
                <h2 class="inline text-gray-600">By
                    <% if (book.authors) { %>
                        <% book.authors.forEach(author => { %>
                            <div class="text-gray-600 inline">
                                <%= author %>
                            </div>
                            <% }) %>
                                <% } %>

                </h2>
                <p class="pt-2 pb-4  ">
                    <%= book.description %>
                </p>
                <% if (currentUser) { %>
                    <form action="/<%= currentUser._id %>/save" method="POST">
                        <button><a class="my-4 w-auto sm:w-40 text-center font-roboto font-bold rounded-full py-2 px-6 text-black bg-yellow-400" >Save</a>
                        </button>
                    </form>
                    <% } else { %>
                        <button><a class="my-4 w-auto sm:w-40 text-center font-roboto font-bold rounded-full py-2 px-6 text-black bg-yellow-400" href="/login">Save</a>
                    <% } %>
                <a class="my-4 w-auto sm:w-40 text-center font-roboto font-bold rounded-full py-2 px-6 text-black bg-yellow-400" href="/search">Search Again!</a>
                <!--                 <a class="my-4 w-auto sm:w-40 text-center font-roboto font-bold rounded-full py-1 px-6 text-black bg-yellow-400" href="/">Add To List</a>
 -->
            </div>

        </main>

    </div>
    <script src="/src/results.js"></script>
    <%- include('partials/footer'); %>